body{
    margin: 0;
    background-color: rgba(105, 105, 105, 0.568);
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* header{
    width: 100%;
    overflow: hidden;
} */

.container{
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: #8443DF;
    box-shadow: 5px 5px 20px black;
}

.my-1st-name{
    color: white; 
    background: black; 
    width: 150px; 
    margin-left: -12px;
    padding-left: 9px;
    border: 2px solid black;
}

h2.my-1st-name:hover{
    color: white;
    background: springgreen;
    box-shadow: 1px 5px 20px yellow;
}

.say-hi{
    font-size: 27px;
    font-weight: bold; 
    color: #8443DF;
    text-shadow: 2px 2px 5px cyan;
}

.top-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #8443DF;
    margin-left: 150px;
    margin-top: 20px;
}

.top-img:hover{
    box-shadow: 5px 5px 20px cyan;
}

.img-padding{
    padding: 22px;
}

@media (max-width:767px){
    .card .top-img{
        margin-left: 180px;
    }
}

.move-form-left{
    margin-left: 350px;
}

@media (max-width:767px){
    .row .mg-left{
    margin-left: -150px;
    margin-top: 100px;
    }
}

.my-name{
    font-size: 32px;
    font-weight: bold; 
    color: rgb(5, 5, 5);
    text-shadow: 2px 2px 5px cyan;
}

.sm-text{
    box-shadow: 4px 4px 20px #8443DF;
    border-radius: 7px;
    margin-top: 35px;
}

.sm-text:hover{
    box-shadow: 5px 5px 20px cyan;
}

.heading-style{
    font-size: 30px; 
    color: springgreen;
}

.heading-style:hover{
   color: yellow;
   text-shadow: 2px 2px 5px cyan;
}

li{
    list-style-type: none;
    color: #700cfd;
    background: white;
    padding: 5px;
    border: 2px solid black;
    width: 150px;
    margin-left: -44px;
    font-weight: bolder;
}

li:hover{
    color: white;
    background: #8443DF;
}

.third-sec{
    width: 70%;
    margin: 250px 0px 100px 300px;
    text-align: center;
}

.first-section{
    width: 70%;
    margin: 0px 0px 100px 300px;
}

.card-logo{
    margin: 20px auto;
    width: 60px;
    height: 60px;
}

.card-text{
    text-align: justify;
}

.card-bg{
    background-color: #8443DF;
    box-shadow: 5px 5px 15px cyan, 5px 5px 15px rgb(34, 0, 255);
}

.card-bg:hover{
    background: springgreen;
    box-shadow: 5px 5px 20px yellow;
}

.my-details-style{
    background-color: #8443DF;
    color: white;
    box-shadow: 5px 5px 20px cyan;
    margin-top: 40px;
}
  
.my-details-style:hover{
    background: springgreen;
    box-shadow: 5px 5px 20px yellow;
}

@media (max-width:767px){
    .col .my-details-style{
        margin-left: -35px;
        margin-top: -40px;
    }
}

.fifth-sec{
    width: 70%;
    margin: 250px 0px 100px 300px;
}

.about-ml{
    margin-left: 190px;
    background: none;
    padding-top: 40px;
    color: white;
}

.bg-none{
    background: none;
    border: none;
}

.bottom-img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px cyan;
    padding: 30px;
    /* margin-left: 60px; */
}

.bottom-img:hover{
    box-shadow: 7px 7px 20px #8443DF;
}

@media (max-width:767px){
    .card .bottom-img{
        margin-left: 50px;
    }
}

.section-description{
    color: #FD6E0A;
    width: 300px;
    text-align: justify;
}

.section-description:hover{
    font-size: 18px;
    color: #8443DF;
}

.contact-with-me{
    display: flex;
    gap: 70px;
    padding: 100px 200px;
    margin-bottom: 0%;
}

.section-title{
    color: #FD6E0A;
    font-size: 25px;
}

.section-title:hover{
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 5px cyan;
}

.btn-1{
    color: rgb(0, 255, 255);
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 2px;
    height: 30px;
    border-radius: 5px;
}

.btn-2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.btn-2:hover{
    font-size: 25px;
    color: white;
    background: green;
    padding: 5px 25px;
}

